* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

:root {
  --coral: #E2725B;
  --black: #000000;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-bottom: 4rem;
}

.brand-coral {
  background-color: var(--coral);
}

.bm-burger-button {
  display: none;
}

.bm-burger-bars {
  background: var(--coral);
}

footer {
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  position: relative;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;
}

footer a:hover {
  color: var(--coral);
}



@media (max-width: 1279px) {
  
  .bm-burger-button {
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
    right: 10%;
    z-index: 1000;
  }
  
  .navbar-logo {
    margin: 0 auto;
  }

  .bm-menu-wrap {
    position: fixed;
    bottom: 0;
    z-index: 1100;
  }

  .bm-menu {
    background: black;
    height: 100vh;
  }

  .bm-item {
    display: block;
    text-decoration: none;
    padding: 15px 0px;
    text-align: center;
    color: #ffffff;
    transition: color 0.2s;
  }

  .bm-item:hover {
    color: white;
  }

  .desktop-menu {
    display: none;
  }

  .menu-item:active {
    color: var(--customCoral);
  }
  
  .menu-item:focus {
    color: var(--customCoral);
  }

  .close-button {
    color: var(--coral);
    font-size: 24px;
    line-height: 1;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1001;
  }

  .hero-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 5% 0rem 5%;
  }

  .hero-text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
  }

  .hero-text-section h1 {
    font-size: 2.25rem;
    line-height: 1.2;
  }

  .hero-text-section p {
    font-size: 1rem;
    padding-top: 1.5rem;
  }
}