* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --coral: #E2725B;
  --black: #000000;
}

.App {
  text-align: center;
}

.brand-coral {
  background-color: var(--coral);
}

.bm-burger-button {
  display: none;
}

.bm-burger-bars {
  background: var(--coral);
}

@media (max-width: 1279px) {
  
  .bm-burger-button {
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    right: 4%;
    top: 5%;
    z-index: 1000;
  }
  
  .navbar-logo {
    margin-left: 5%;
  }

  .bm-menu-wrap {
    position: fixed;
    bottom: 0;
    z-index: 1100;
  }

  .bm-menu {
    background: black;
    height: 100vh;
  }

  .bm-item {
    display: block;
    text-decoration: none;
    padding: 15px 0px;
    text-align: center;
    color: #ffffff;
    transition: color 0.2s;
  }

  .bm-item:hover {
    color: white;
  }

  .desktop-menu {
    display: none;
  }

  .menu-item:active {
    color: var(--customCoral);
  }
  
  .menu-item:focus {
    color: var(--customCoral);
  }

  .close-button {
    color: var(--coral);
    font-size: 24px;
    line-height: 1;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1001;
  }

  .hero-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .hero-text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

  }
}
